.Rproj.user
.Rhistory
.RData
.Ruserdata
Windows/bin/ffmpeg.exe
Windows/bin/pandoc.exe
Windows/bin/phantomjs.exe
Linux/bin/ffmpeg
Linux/bin/pandoc
Linux/bin/phantomjs
Darwin/bin/pandoc
Darwin/bin/ffmpeg
Darwin/bin/phantomjs
Darwin.arm64/bin/phantomjs
Darwin.arm64/bin/ffmpeg
Darwin.arm64/bin/pandoc
Darwin.arm64/bin/curl
dev/*
AppDistribution/Darwin/*
AppDistribution/Darwin.arm64/*
AppDistribution/Linux/*
AppDistribution/Windows/*
